.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        = current_user.name
      %ul.side-header__box__menu
        %lu.side-header__box__edit-user
          = link_to new_group_path do
            =icon('fas', 'edit')
        %lu.side-header__box__new-group
          = link_to edit_user_path(current_user) do
            =icon('fas', 'cog')
  
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: 'groups-box' do
        %p.groups-box__groupname
          = group.name
        %p.groups-box__new-message
          = group.show_last_message